@import "../style.scss";

// .dropdown-menu {
//   position: fixed !important;
//   left: 20px !important;
// }
.list{
    list-style :disc ;
    
}

#sidebar>ul {
    height: calc(100vh - 188px)!important;
    overflow-y: auto;
    overflow-x: hidden;
}

